{% extends "base.html" %}
{% block content %}
<div class="Polaris-Page">
<div class="Polaris-Page__Title">
  <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Add Risk</h1>
</div>
    <div><p>What order do you want to add risk to?</p></div>
    <form action="" method="post" name="addrisks">
      {{ form.hidden_tag() }}
      <p>
          Please enter your Order Number:<br>
          {{ form.orderid(size=80) }}<br>
          {% for error in form.orderid.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Add Risk"></p>
  </form>
</div>
{% endblock %}
